name: EAS Build
on:
  push:
    branches:
      - master
  workflow_dispatch:
    inputs:
      profile:
        description: 'EAS Build Profile (preview, production)'
        required: true
        default: 'preview'

jobs:
  build:
    name: Install and Build
    runs-on: ubuntu-latest
    env:
      EXPO_USE_NPM: 1
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'

      - name: Disable Yarn
        run: sudo rm -rf /usr/local/bin/yarn /usr/local/bin/yarnpkg

      - name: Setup Expo
        uses: expo/expo-github-action@v8
        with:
          expo-version: latest
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Install dependencies
        run: npm install --legacy-peer-deps

      - name: Build on EAS
        run: eas build --platform android --profile ${{ github.event.inputs.profile || 'preview' }} --non-interactive
